.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.iconButton {
  position: absolute;
  left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeIcon {
  width: 20px;
  height: 20px;
}

.inputWithIcon {
  width: 100%;
  padding: 10px 10px 10px 40px; /* padding-left augmenté pour l'icône */
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}
